<!DOCTYPE html>
<html>
  <head>
    <title>Bio - Chad Keller</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <nav class="nav">
        <div class="nav1">
          <a href="../index.html">Home</a>
          <a href="bio.html">Bio</a>
          <a href="portfolio.html">Portfolio</a>
          <a href="contact.html">Contact</a>
        </div>
        <div class="nav2">
          <a href="https://github.com/cekeller6121" target="_blank">GitHub</a>
          <a href="https://prgramths.wordpress.com/" target="_blank">WordPress</a>
          <a href="https://clements-beer-app.herokuapp.com/" target="_blank">Clement's Beer App</a>
        </div>
      </nav>
    </header>

    <section class="bio">
        <div class="intro">
        <p><strong>Front End Developer. Node enthusiast.</strong></p>
        <p>In April of 2017 I resigned as a 911 dispatcher to begin coding at The Iron Yard in Durham North Carolina. I spent nearly ten years in public safety in the field from volunteer fire fighting and EMS, to the office in private EMS radio communications and E911. I had a niche for helping people, and I still do. I decided it was time to pursue a career that lets me be proactive and instead of being limited to helping the people in my community...</p>
        <p class="world"><strong>I want to reach the world.</strong></p>
        </div>

    </section>

  </body>
</html>
