<!DOCTYPE html>
<html>
  <head>
    <title>Bio - Chad Keller</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <nav>
          <a href="../index.html">home</a>
          <a href="bio.html">bio</a>
          <a href="contact.html">contact</a>
      </nav>
    </header>

    <section class="bio">
      <div class="about">
        <p><b>Chad</b> has diverse work experience in public safety, logistics, hospitality, <a href="portfolio.html">software engineering</a>, and security. His entire resume centers on customer service and he takes this principal quite seriously as he continues to learn and grow as an employee. He currently works as a bulk route delivery driver in the Twin Cities Metro.
        </p>
      </div>
    </section>

  </body>
</html>
