<!DOCTYPE html>
<html>
  <head>
    <title>Bio - Chad Keller</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <nav>
          <span>Chad Keller ||</span>
          <a href="../index.html">Home</a>
          <a href="bio.html">Bio</a>
          <a href="portfolio.html">Portfolio</a>
          <a href="contact.html">Contact</a>
      </nav>
    </header>

    <section class="bio">
      <div class="about">
        <p>I've spent thousands of hours learning on the job and in the classroom. I've become a dependable, focused employee and team member with strong attention to detail. I'm always learning new things and I'm currently working on my mobile web application skills.
        </p>
        <h3>The Iron Yard</h3>
        <p>For over a year I planned leaving my career in public safety because I had heard about this coding bootcamp. This would be the path for me to transition into a technology career, one where I can explore my creativity and put an end to my boredom. I spent 50-60 hours a week completing homework assignments, reading about the next day's course content, daily projects and weekly projects. I proved to myself that I am able to learn the industry's latest technology in a short amount of time. I'm ready to put those skills to use by solving real world problems.
        </p>
      </div>
    </section>

  </body>
</html>
