<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio - Chad Keller</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <nav>
          <span>Chad Keller ||</span>
          <a href="../index.html">Home</a>
          <a href="bio.html">Bio</a>
          <a href="portfolio.html">Portfolio</a>
          <a href="contact.html">Contact</a>
      </nav>
    </header>

  </body>
</html>
