<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio - Chad Keller</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <nav>
          <a href="../index.html">Home</a>
          <a href="bio.html">Bio</a>
          <a href="portfolio.html">Portfolio</a>
          <a href="contact.html">Contact</a>
      </nav>
    </header>

    <section class="portfolio">
      <div class="projects">
        <p><a href="https://clements-beer.herokuapp.com/" target="_blank">Clement's Beer</a> - My first web app after graduating from The Iron Yard, deployed on Heroku. As a mobile first app, users can search their favorite beers from around the world. Users are also able to search by city for (registered) breweries. Too much to drink? Clement's Beer App has you covered with an Uber deep link located at the bottom of every page.
        <br>
        <span>Technologies: HTML/CSS, JavaScript, Node.JS, Express, <a href="http://www.brewerydb.com/developers" target="_blank">BreweryDB</a>'s API</span>
        </p>
        <p><a href="http://clements-music.surge.sh" target="_blank">Clement's Music Streaming App</a> - My Iron Yard week 4 project, and my first project using an API. Deployed on Surge, this app uses SoundCloud's API, returns search results to the page and streams them using an onscreen media player.
        <br>
        <span>Technologies: HTML/CSS, JavaScript, <a href="https://developers.soundcloud.com/" target="_blank">SoundCloud</a>'s API</span>
        </p>
      </div>
    </section>

  </body>
</html>
