@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
  margin: 0;
}

body {
  background-image: url('../images/wht_ball_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  background-color: White;
  display: flex;
  justify-content: space-between;
}

nav a {
  margin: 5px;
}

.bio {
  display: flex;
  justify-content: center;
  width: 100%;
}

.intro {
  margin-top: 15%;
  width: 50%;
}

.world {
  text-align: right;
}

.portfolio {
  display: grid;
  grid-auto-columns: 2;
  margin: 2% 2% 0 2%;
  width: 96%;
}

.port-left {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
}

.port-right {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  grid-column: 2/2;
}

.weeks h3 {
  text-align: center;
}

.weeks {
  width: 50%;
}

.weeks img {
  width: 100%;
  height: auto;
}

.week4 {
  margin-top: 10px;
}

.contact {
  display: flex;
  justify-content: center;
  width: 100%;
}

.email {
  margin-top: 15%;
  text-align: center;
  width: 50%;
}
